/* CSS for standardvolcanic.com */

@import url('reset.css');

html {
	background: url(../_images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link, a:visited, a:active {
	-webkit-transition: all 0.25s ease-in-out;
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #333;
}

h1 {
	color: #333;
	font: 24px/20px "Georgia","Times","Times New Roman",serif;
	font-size: 22px;
	margin: 0 0 20px;
}

p {
  font: 1rem/1.4rem Arial,Helvetica Neue,Helvetica,sans-serif;
}

p:first-of-type {
  margin-top: -2rem;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#content {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  min-height: 25rem;
  padding: 1rem;
  width: 85%;
}

@media (min-width: 1024px) {
  #content {
    width: 50%;
  }
}

#logo {
  top: -2rem;
  position: absolute;
}